*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(24, 52, 94);
color: #183c72;
}
body{
	background-color: #133f68;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#000000; 
}

.center{
	width: 90%;
	background-color: rgb(179, 173, 175);

}
.container
{
	background-color: rgb(179, 173, 173);
}
.text-center{
	font-size: 35px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #245cd6;
}
.navbar-brand{
font-size: 40px;	
}